* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 5px 20px;
}

.button-checkout {
    transition-duration: 0.4s;
    border: none;
    background-color: white;
    color: black;
    border: 0.1px solid #4CAF50;
}

.button-checkout:hover {
    background-color: #4CAF50; 
    color: white;
    cursor: pointer;
    
}

.page-nav {
    border: 1px solid black;
    color: white;
    background: rgb(61,60,66);
    background: linear-gradient(90deg, rgba(61,60,66,1) 0%, rgba(64,85,124,1) 88%);
    display: flex;
    justify-content: space-between;
}

.page-nav h1 {
    margin: 20px;
}

.page-nav .checkout {
    margin-right: 70px;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container img {
    width: 300px;
    height: 200px;
}

.product-container {
    margin: 15px;
    padding: 2px 16px;
    position: relative;
}

.product-container, img, h3, button {
    margin-top: 15px;
}

.button-add {
    transition-duration: 0.4s;
    border: none;
    background-color: white;
    color: black;
    border: 0.1px solid #4CAF50;
    position: absolute;
    right: 15px;
    bottom: -1px;
}

.button-add:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
    
}